/* Error: Expected "to" or "from".
 *     ,
 * 479 |         span{
 *     |         ^
 *     '
 *   scss\style.scss 479:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Expected "to" or "from".\a     \2577 \a 479 \2502          span{\d\a     \2502          ^\a     \2575 \a   scss\\style.scss 479:9  root stylesheet';
}
